= form_for @notice do |f|
  -if @notice.errors.any?
    #error_explanation
      %h2= "#{pluralize(@notice.errors.count, "error")} prohibited this notice from being saved:"
      %ul
        - @notice.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :message
    = f.text_area :message
  .field
    = f.label :requested_by
    = f.text_field :requested_by
    (Use twitter screen_name for icon)
  .actions
    = f.submit 'Save'
