%h2 Notices

- @notices.each do |notice|
  .notice
    .status{ :class => notice.status }
      = notice.status
    .action
      = link_to_action notice
    .message
      = notice.message
    .edit
      = link_to "Edit message", edit_notice_path(notice)
    .information
      = "Requested at %s," % notice.created_at.in_time_zone(timezone).strftime("%m-%d %H:%M")
      by
      = notice.requested_by
      %img{ :src => "http://api.dan.co.jp/twicon/#{notice.requested_by}/mini", :width => 24, :height => 24 }

= link_to 'New Notice', new_notice_path
