!!! 5
%html
  %head
    %title
      = [@title, "KaigiSubscreen"].compact.join(" - ")
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    :javascript
      var channels = [];
    = csrf_meta_tags
  %body
    - unless @fullscreen
      #header
        %h1
          = link_to "KaigiSubscreen", root_path
      #main
        = yield
    - else
      = yield
